extends layout

block content
	nav.navbar-fixed-top.navbar-custom
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a#brand.navbar-brand.navbar-custom.background1(href="#")
					img(alt="Brand" src="/images/logo.png")
					.brand-name
						| DSM
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a.linkEffect.background1(href='#mainSlider') HOME
					li
						a.linkEffect.background1(href='#music') MUSIC
					li
						a.linkEffect.background1(href='#video') VIDEO
					li.dropdown
						a.dropdown-toggle.linkEffect.background1(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| MORE
							span.caret
						ul.dropdown-menu.navbar-custom.background3
							li
								a.linkEffect.drop.navbar-custom(href='#photo') PHOTO
							li
								a.linkEffect.drop.navbar-custom(href='#about') ABOUT
	#mainSlider.carousel.slide(data-ride="carousel")
		ol.carousel-indicators
			li.active(data-target="#mainSlider" data-slide-to="0")
			li(data-target="#mainSlider" data-slide-to="1")
			li(data-target="#mainSlider" data-slide-to="2")
		.carousel-inner(role="listbox")
			.item.active
				img(src="/images/cover0.jpeg")
			.item
				img(src="/images/cover1.jpeg")
			.item
				img(src="/images/cover2.jpeg")
			.carousel-caption
				h3
					span DIGITAL SHOCK MELODY
				p
					em
						span Future Bass and Electronic Music
	#music.container
		.container(style="max-width: 970px;")
			h3
				span.borderEffect MUSIC BOX
			p
				span.borderEffect PLAY SOME AWESOME MUSIC
			.row
				.col-sm-4.col-xs-6
					.iner-music
						img.borderEffect2.img-cover(src="/images/music1.jpg")
						p.texty
							span Timewave - Underdreaming (You are my Salvation Remix)
						.player.container
							svg.mplay(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewBox="0 0 65 65" width='50', height='50')
								path(d=' M 31.708753652023464 2.51387152210315 C 18.34351332324971 2.709702625171594 5.961421250205371 12.782250368561613 3.244694916137786 25.893351280901978 C 0.6548214251489577 36.905264959265736 4.9678180898266024 49.16738710107816 13.885851755720346 56.066599511619586 C 23.036603854734757 63.43178109210374 36.81461930781239 64.67656229400566 47.077850705255564 58.744061463402836 C 57.12656294804174 53.15088077793384 63.65468285483271 41.314023344463486 62.32962049520054 29.672547326676273 C 61.249202904363116 18.65598170984388 53.906065097351885 8.543442802085066 43.51388987590009 4.638528119195602 C 39.79620322633013 3.1411854246000943 35.74008744107386 2.3848965280599326 31.708366433332753 2.5142204174882976 L 31.708753652023464 2.51387152210315 Z ', fill='rgb(204,68,0)', stroke-width='1.5929908403026687', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								g(opacity='0.33')
									path(d=' M 31.052030752568132 4.403372629605536 C 18.00508418756341 4.969939968932741 6.158515563780114 15.648270892940657 4.663076980232647 28.7217686359928 C 10.754801422586011 33.7671835667787 19.361898479834334 33.897825505439855 26.831734242448036 32.571364017259285 C 32.457634599869344 31.584726634213315 37.56195138089541 29.060390990356343 42.651166632983525 26.565711454236983 C 47.08288454823488 24.4912182602981 51.956031770903145 23.835023573141644 56.78929546842759 23.500587963399884 C 57.895966486495595 23.373043440435776 59.69328076132571 23.635494178990623 58.52058895649053 22.08225069046355 C 54.33475490984421 11.1912874122846 42.80725448721138 3.664450970014987 31.0520694744372 4.403721524990684 L 31.052030752568132 4.403372629605536 Z ', fill='rgb(255,153,85)', stroke-width='1.5', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								path#pf1.playFill(d=' M 21.8447447247091 50.86460808520984 L 21.795335619773663 35.12322363038908 L 21.996650617077215 16.63021757136406 L 35.637977872331895 24.457879367939466 L 51.53446678231999 33.878830090026206 L 37.94270351947703 41.79255274827156 L 21.844860890316312 50.86460808520984 L 21.8447447247091 50.86460808520984 Z ', fill='rgb(128,51,0)', stroke-width='1.5', stroke='rgb(204,68,42)', stroke-linejoin='miter', stroke-linecap='butt')
						.logo-img-small
							img(src="/images/logo.png")
				.col-sm-4.col-xs-6
					.iner-music
						img.borderEffect2.img-cover(src="/images/music2.jpg")
						p.texty
							span London Grammar - Hey Now [Arty remix]
						.player.container
							svg.mplay(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewBox="0 0 65 65" width='50', height='50')
								path(d=' M 31.708753652023464 2.51387152210315 C 18.34351332324971 2.709702625171594 5.961421250205371 12.782250368561613 3.244694916137786 25.893351280901978 C 0.6548214251489577 36.905264959265736 4.9678180898266024 49.16738710107816 13.885851755720346 56.066599511619586 C 23.036603854734757 63.43178109210374 36.81461930781239 64.67656229400566 47.077850705255564 58.744061463402836 C 57.12656294804174 53.15088077793384 63.65468285483271 41.314023344463486 62.32962049520054 29.672547326676273 C 61.249202904363116 18.65598170984388 53.906065097351885 8.543442802085066 43.51388987590009 4.638528119195602 C 39.79620322633013 3.1411854246000943 35.74008744107386 2.3848965280599326 31.708366433332753 2.5142204174882976 L 31.708753652023464 2.51387152210315 Z ', fill='rgb(204,68,0)', stroke-width='1.5929908403026687', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								g(opacity='0.33')
									path(d=' M 31.052030752568132 4.403372629605536 C 18.00508418756341 4.969939968932741 6.158515563780114 15.648270892940657 4.663076980232647 28.7217686359928 C 10.754801422586011 33.7671835667787 19.361898479834334 33.897825505439855 26.831734242448036 32.571364017259285 C 32.457634599869344 31.584726634213315 37.56195138089541 29.060390990356343 42.651166632983525 26.565711454236983 C 47.08288454823488 24.4912182602981 51.956031770903145 23.835023573141644 56.78929546842759 23.500587963399884 C 57.895966486495595 23.373043440435776 59.69328076132571 23.635494178990623 58.52058895649053 22.08225069046355 C 54.33475490984421 11.1912874122846 42.80725448721138 3.664450970014987 31.0520694744372 4.403721524990684 L 31.052030752568132 4.403372629605536 Z ', fill='rgb(255,153,85)', stroke-width='1.5', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								path#pf2.playFill(d=' M 21.8447447247091 50.86460808520984 L 21.795335619773663 35.12322363038908 L 21.996650617077215 16.63021757136406 L 35.637977872331895 24.457879367939466 L 51.53446678231999 33.878830090026206 L 37.94270351947703 41.79255274827156 L 21.844860890316312 50.86460808520984 L 21.8447447247091 50.86460808520984 Z ', fill='rgb(128,51,0)', stroke-width='1.5', stroke='rgb(204,68,42)', stroke-linejoin='miter', stroke-linecap='butt')
						.logo-img-small
							img(src="/images/logo.png")
				.col-sm-4.col-xs-6
					.iner-music
						img.borderEffect2.img-cover(src="/images/music3.jpg")
						p.texty
							span Domased Electronica - Mermaid (Fretwell Remix)
						.player.container
							svg.mplay(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewBox="0 0 65 65" width='50', height='50')
								path(d=' M 31.708753652023464 2.51387152210315 C 18.34351332324971 2.709702625171594 5.961421250205371 12.782250368561613 3.244694916137786 25.893351280901978 C 0.6548214251489577 36.905264959265736 4.9678180898266024 49.16738710107816 13.885851755720346 56.066599511619586 C 23.036603854734757 63.43178109210374 36.81461930781239 64.67656229400566 47.077850705255564 58.744061463402836 C 57.12656294804174 53.15088077793384 63.65468285483271 41.314023344463486 62.32962049520054 29.672547326676273 C 61.249202904363116 18.65598170984388 53.906065097351885 8.543442802085066 43.51388987590009 4.638528119195602 C 39.79620322633013 3.1411854246000943 35.74008744107386 2.3848965280599326 31.708366433332753 2.5142204174882976 L 31.708753652023464 2.51387152210315 Z ', fill='rgb(204,68,0)', stroke-width='1.5929908403026687', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								g(opacity='0.33')
									path(d=' M 31.052030752568132 4.403372629605536 C 18.00508418756341 4.969939968932741 6.158515563780114 15.648270892940657 4.663076980232647 28.7217686359928 C 10.754801422586011 33.7671835667787 19.361898479834334 33.897825505439855 26.831734242448036 32.571364017259285 C 32.457634599869344 31.584726634213315 37.56195138089541 29.060390990356343 42.651166632983525 26.565711454236983 C 47.08288454823488 24.4912182602981 51.956031770903145 23.835023573141644 56.78929546842759 23.500587963399884 C 57.895966486495595 23.373043440435776 59.69328076132571 23.635494178990623 58.52058895649053 22.08225069046355 C 54.33475490984421 11.1912874122846 42.80725448721138 3.664450970014987 31.0520694744372 4.403721524990684 L 31.052030752568132 4.403372629605536 Z ', fill='rgb(255,153,85)', stroke-width='1.5', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								path#pf3.playFill(d=' M 21.8447447247091 50.86460808520984 L 21.795335619773663 35.12322363038908 L 21.996650617077215 16.63021757136406 L 35.637977872331895 24.457879367939466 L 51.53446678231999 33.878830090026206 L 37.94270351947703 41.79255274827156 L 21.844860890316312 50.86460808520984 L 21.8447447247091 50.86460808520984 Z ', fill='rgb(128,51,0)', stroke-width='1.5', stroke='rgb(204,68,42)', stroke-linejoin='miter', stroke-linecap='butt')
						.logo-img-small
							img(src="/images/logo.png")
				.col-sm-4.col-xs-6
					.iner-music
						img.borderEffect2.img-cover(src="/images/music4.jpg")
						p.texty
							span M.I.K.E. Push - Nova Artes
						.player.container
							svg.mplay(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewBox="0 0 65 65" width='50', height='50')
								path(d=' M 31.708753652023464 2.51387152210315 C 18.34351332324971 2.709702625171594 5.961421250205371 12.782250368561613 3.244694916137786 25.893351280901978 C 0.6548214251489577 36.905264959265736 4.9678180898266024 49.16738710107816 13.885851755720346 56.066599511619586 C 23.036603854734757 63.43178109210374 36.81461930781239 64.67656229400566 47.077850705255564 58.744061463402836 C 57.12656294804174 53.15088077793384 63.65468285483271 41.314023344463486 62.32962049520054 29.672547326676273 C 61.249202904363116 18.65598170984388 53.906065097351885 8.543442802085066 43.51388987590009 4.638528119195602 C 39.79620322633013 3.1411854246000943 35.74008744107386 2.3848965280599326 31.708366433332753 2.5142204174882976 L 31.708753652023464 2.51387152210315 Z ', fill='rgb(204,68,0)', stroke-width='1.5929908403026687', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								g(opacity='0.33')
									path(d=' M 31.052030752568132 4.403372629605536 C 18.00508418756341 4.969939968932741 6.158515563780114 15.648270892940657 4.663076980232647 28.7217686359928 C 10.754801422586011 33.7671835667787 19.361898479834334 33.897825505439855 26.831734242448036 32.571364017259285 C 32.457634599869344 31.584726634213315 37.56195138089541 29.060390990356343 42.651166632983525 26.565711454236983 C 47.08288454823488 24.4912182602981 51.956031770903145 23.835023573141644 56.78929546842759 23.500587963399884 C 57.895966486495595 23.373043440435776 59.69328076132571 23.635494178990623 58.52058895649053 22.08225069046355 C 54.33475490984421 11.1912874122846 42.80725448721138 3.664450970014987 31.0520694744372 4.403721524990684 L 31.052030752568132 4.403372629605536 Z ', fill='rgb(255,153,85)', stroke-width='1.5', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								path#pf4.playFill(d=' M 21.8447447247091 50.86460808520984 L 21.795335619773663 35.12322363038908 L 21.996650617077215 16.63021757136406 L 35.637977872331895 24.457879367939466 L 51.53446678231999 33.878830090026206 L 37.94270351947703 41.79255274827156 L 21.844860890316312 50.86460808520984 L 21.8447447247091 50.86460808520984 Z ', fill='rgb(128,51,0)', stroke-width='1.5', stroke='rgb(204,68,42)', stroke-linejoin='miter', stroke-linecap='butt')
						.logo-img-small
							img(src="/images/logo.png")
				.col-sm-4.col-xs-6
					.iner-music
						img.borderEffect2.img-cover(src="/images/music5.png")
						p.texty
							span Riparian Zone - Spinnet, Mmorty
						.player.container
							svg.mplay(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewBox="0 0 65 65" width='50', height='50')
								path(d=' M 31.708753652023464 2.51387152210315 C 18.34351332324971 2.709702625171594 5.961421250205371 12.782250368561613 3.244694916137786 25.893351280901978 C 0.6548214251489577 36.905264959265736 4.9678180898266024 49.16738710107816 13.885851755720346 56.066599511619586 C 23.036603854734757 63.43178109210374 36.81461930781239 64.67656229400566 47.077850705255564 58.744061463402836 C 57.12656294804174 53.15088077793384 63.65468285483271 41.314023344463486 62.32962049520054 29.672547326676273 C 61.249202904363116 18.65598170984388 53.906065097351885 8.543442802085066 43.51388987590009 4.638528119195602 C 39.79620322633013 3.1411854246000943 35.74008744107386 2.3848965280599326 31.708366433332753 2.5142204174882976 L 31.708753652023464 2.51387152210315 Z ', fill='rgb(204,68,0)', stroke-width='1.5929908403026687', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								g(opacity='0.33')
									path(d=' M 31.052030752568132 4.403372629605536 C 18.00508418756341 4.969939968932741 6.158515563780114 15.648270892940657 4.663076980232647 28.7217686359928 C 10.754801422586011 33.7671835667787 19.361898479834334 33.897825505439855 26.831734242448036 32.571364017259285 C 32.457634599869344 31.584726634213315 37.56195138089541 29.060390990356343 42.651166632983525 26.565711454236983 C 47.08288454823488 24.4912182602981 51.956031770903145 23.835023573141644 56.78929546842759 23.500587963399884 C 57.895966486495595 23.373043440435776 59.69328076132571 23.635494178990623 58.52058895649053 22.08225069046355 C 54.33475490984421 11.1912874122846 42.80725448721138 3.664450970014987 31.0520694744372 4.403721524990684 L 31.052030752568132 4.403372629605536 Z ', fill='rgb(255,153,85)', stroke-width='1.5', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								path#pf5.playFill(d=' M 21.8447447247091 50.86460808520984 L 21.795335619773663 35.12322363038908 L 21.996650617077215 16.63021757136406 L 35.637977872331895 24.457879367939466 L 51.53446678231999 33.878830090026206 L 37.94270351947703 41.79255274827156 L 21.844860890316312 50.86460808520984 L 21.8447447247091 50.86460808520984 Z ', fill='rgb(128,51,0)', stroke-width='1.5', stroke='rgb(204,68,42)', stroke-linejoin='miter', stroke-linecap='butt')
						.logo-img-small
							img(src="/images/logo.png")
				.col-sm-4.col-xs-6
					.iner-music
						img.borderEffect2.img-cover(src="/images/music6.jpg")
						p.texty
							span O.B.I. - Holy Smoke
						.player.container
							svg.mplay(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewBox="0 0 65 65" width='50', height='50')
								path(d=' M 31.708753652023464 2.51387152210315 C 18.34351332324971 2.709702625171594 5.961421250205371 12.782250368561613 3.244694916137786 25.893351280901978 C 0.6548214251489577 36.905264959265736 4.9678180898266024 49.16738710107816 13.885851755720346 56.066599511619586 C 23.036603854734757 63.43178109210374 36.81461930781239 64.67656229400566 47.077850705255564 58.744061463402836 C 57.12656294804174 53.15088077793384 63.65468285483271 41.314023344463486 62.32962049520054 29.672547326676273 C 61.249202904363116 18.65598170984388 53.906065097351885 8.543442802085066 43.51388987590009 4.638528119195602 C 39.79620322633013 3.1411854246000943 35.74008744107386 2.3848965280599326 31.708366433332753 2.5142204174882976 L 31.708753652023464 2.51387152210315 Z ', fill='rgb(204,68,0)', stroke-width='1.5929908403026687', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								g(opacity='0.33')
									path(d=' M 31.052030752568132 4.403372629605536 C 18.00508418756341 4.969939968932741 6.158515563780114 15.648270892940657 4.663076980232647 28.7217686359928 C 10.754801422586011 33.7671835667787 19.361898479834334 33.897825505439855 26.831734242448036 32.571364017259285 C 32.457634599869344 31.584726634213315 37.56195138089541 29.060390990356343 42.651166632983525 26.565711454236983 C 47.08288454823488 24.4912182602981 51.956031770903145 23.835023573141644 56.78929546842759 23.500587963399884 C 57.895966486495595 23.373043440435776 59.69328076132571 23.635494178990623 58.52058895649053 22.08225069046355 C 54.33475490984421 11.1912874122846 42.80725448721138 3.664450970014987 31.0520694744372 4.403721524990684 L 31.052030752568132 4.403372629605536 Z ', fill='rgb(255,153,85)', stroke-width='1.5', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
								path#pf6.playFill(d=' M 21.8447447247091 50.86460808520984 L 21.795335619773663 35.12322363038908 L 21.996650617077215 16.63021757136406 L 35.637977872331895 24.457879367939466 L 51.53446678231999 33.878830090026206 L 37.94270351947703 41.79255274827156 L 21.844860890316312 50.86460808520984 L 21.8447447247091 50.86460808520984 Z ', fill='rgb(128,51,0)', stroke-width='1.5', stroke='rgb(204,68,42)', stroke-linejoin='miter', stroke-linecap='butt')
						.logo-img-small
							img(src="/images/logo.png")
		br
		h4
			span.borderEffect DSM PLAYER
		//#dsmPlayer.container
			.row
				#playerControl.col-sm-5
					// Generator: Gravit.io
					#dsmDisplay.container
						svg#displayDown(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewbox='0 0 210 100', width='210', height='100')
							mask#_mask_6a9sQHpUapmPJlidYZ3jdBjyW4GwAveK
								rect(x='2.5', y='2.499999999999993', width='205', height='95', transform='matrix(1,0,0,1,0,0)', fill='white', stroke='none')
							lineargradient#_lgradient_0display(x1='50.000000000000014%', y1='0%', x2='49.99999999999999%', y2='100%')
								stop(offset='46.95652173913044%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							rect(x='2.5', y='2.499999999999993', width='205', height='95', transform='matrix(1,0,0,1,0,0)', fill='#464646', mask='url(#_mask_6a9sQHpUapmPJlidYZ3jdBjyW4GwAveK)', vector-effect='non-scaling-stroke', stroke-width='12', stroke='url(#_lgradient_0display)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
						svg#displayUp(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewbox='0 0 210 100', width='210', height='100')
							defs
								lineargradient#_lgradient_1display(x1='0.5', y1='1', x2='0.49999999999999983', y2='0')
									stop(offset='57.826086956521735%', style='stop-color:rgba(74,134,232,0)')
									stop(offset='99.56521739130434%', style='stop-color:#4A86E8')
								lineargradient#_lgradient_2display(x1='0.5000000000000001', y1='0', x2='0.49999999999999994', y2='1')
									stop(offset='41.73913043478261%', style='stop-color:#00FFFF')
									stop(offset='100%', style='stop-color:#000000')
								lineargradient#_lgradient_3display(x1='0.5000000000000001', y1='0', x2='0.49999999999999994', y2='1')
									stop(offset='41.73913043478261%', style='stop-color:#00FFFF')
									stop(offset='100%', style='stop-color:#000000')
							path(d='M 15.113853931684702 5.500000000000004 L 195.88614606831533 5.50000000000001 C 201.19217645329815 5.50000000000001 205.5 9.80782354670185 205.5 15.11385393168467 L 205.5 85.88614606831533 C 205.5 91.19217645329815 201.19217645329812 95.5 195.8861460683153 95.5 L 15.113853931684677 95.5 C 9.807823546701849 95.5 5.5 91.19217645329815 5.5 85.88614606831533 L 5.5 15.11385393168467 C 5.5 9.80782354670185 9.807823546701872 5.500000000000001 15.113853931684702 5.500000000000004 Z', style='stroke:none;fill:url(#_lgradient_1display);stroke-miterlimit:10;')
							path(d='M 15.113853931684702 5.500000000000004 L 195.88614606831533 5.50000000000001 C 201.19217645329815 5.50000000000001 205.5 9.80782354670185 205.5 15.11385393168467 L 205.5 85.88614606831533 C 205.5 91.19217645329815 201.19217645329812 95.5 195.8861460683153 95.5 L 15.113853931684677 95.5 C 9.807823546701849 95.5 5.5 91.19217645329815 5.5 85.88614606831533 L 5.5 15.11385393168467 C 5.5 9.80782354670185 9.807823546701872 5.500000000000001 15.113853931684702 5.500000000000004 Z', style='fill:none;stroke:#000000;stroke-width:3;stroke-linecap:square;stroke-miterlimit:3;')
						#trackContent
							#trackName
								P TRACK
						h3#trackTime 00:00
						p#trackDuration 00:00
					#playerSlider.container
						input(type="range" value="0" min="0" max="100" step="1" data-rangeslider)
						//#dsmButtonControl.container
					button#dsmBackward.myFloat_left
						// Generator: Gravit.io
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewbox='0 0 25 25', width='35', height='35')
							lineargradient#_lgradient_0change(x1='50%', y1='99.99999999999999%', x2='49.999999999999986%', y2='-1.1102230246251565e-14%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,204,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							lineargradient#_lgradient_1change(x1='50%', y1='0%', x2='49.999999999999986%', y2='100%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,221,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							path(d=' M 5.343009422081845 20.52211793946063 C 0.19504228157047976 15.929321797828571 -0.7775139826431694 8.605963418982169 3.1725366153083403 4.1784360359823935 C 7.122587213259852 -0.24909134701738012 14.509023437406787 -0.11491408109268875 19.65699057791815 4.477882060539368 C 24.80495771842952 9.070678202171424 25.777513982643168 16.394036581017833 21.82746338469166 20.821563964017606 C 17.87741278674015 25.24909134701738 10.490976562593211 25.11491408109269 5.343009422081845 20.52211793946063 Z ', fill='url(#_lgradient_0change)', vector-effect='non-scaling-stroke', stroke-width='1', stroke='url(#_lgradient_1change)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							lineargradient#_lgradient_2change(x1='50%', y1='0%', x2='50.49998292890467%', y2='161.35711687600391%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
							mask#backwardDown
								path(d=' M 5.955067813025915 19.836074756291026 C 1.2473494684785713 15.636049764177393 0.35796520452069736 8.938977377587712 3.9702115833931426 4.890087531747852 C 7.5824579622655905 0.8411976859079928 14.337213842426742 0.9639002515953354 19.044932186974084 5.163925243708968 C 23.752650531521425 9.3639502358226 24.642034795479304 16.061022622412285 21.029788416606856 20.109912468252144 C 17.417542037734414 24.158802314092007 10.662786157573258 24.03609974840466 5.955067813025915 19.836074756291026 Z ', fill='white', stroke='none')
							lineargradient#_lgradient_3change(x1='50%', y1='0%', x2='49.35820422549387%', y2='83.46513370323214%')
								stop(offset='7.391304347826087%', stop-opacity='1', style='stop-color:rgb(7,238,238)')
								stop(offset='68.26086956521739%', stop-opacity='1', style='stop-color:rgb(0,127,129)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							path(d=' M 5.955067813025915 19.836074756291026 C 1.2473494684785713 15.636049764177393 0.35796520452069736 8.938977377587712 3.9702115833931426 4.890087531747852 C 7.5824579622655905 0.8411976859079928 14.337213842426742 0.9639002515953354 19.044932186974084 5.163925243708968 C 23.752650531521425 9.3639502358226 24.642034795479304 16.061022622412285 21.029788416606856 20.109912468252144 C 17.417542037734414 24.158802314092007 10.662786157573258 24.03609974840466 5.955067813025915 19.836074756291026 Z ', fill='url(#_lgradient_2change)', mask='url(#backwardDown)', vector-effect='non-scaling-stroke', stroke-width='4', stroke='url(#_lgradient_3change)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							polygon(points='12.036995463777984,9.308716029471864,12.017936492891756,15.691283970528138,6.4999999999999964,12.483494447042542', fill='rgb(0,255,255)')
							polygon(points='18.5,9.308716029471862,18.480941029113772,15.691283970528136,12.963004536222012,12.48349444704254', fill='rgb(0,255,255)')
							g#dsmBackwardup
								lineargradient#_lgradient_4change(x1='50%', y1='0%', x2='49.999999999999964%', y2='99.99999999999996%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
								mask#backwardUp
									path(d=' M 5.650652362468983 20.177287535653406 C 0.7239703739892054 15.781912543906575 -0.2067805999202008 8.773348418405746 3.573477238434686 4.536138114619845 C 7.353735076789574 0.2989278108339448 14.422665649051243 0.42733747259976695 19.349347637531025 4.822712464346595 C 24.2760296260108 9.21808745609342 25.206780599920208 16.226651581594254 21.426522761565323 20.463861885380155 C 17.64626492321044 24.701072189166055 10.577334350948762 24.572662527400233 5.650652362468983 20.177287535653406 Z ', fill='white', stroke='none')
								lineargradient#_lgradient_5change(x1='50%', y1='0%', x2='49.999999999999986%', y2='100%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								path(d=' M 5.650652362468983 20.177287535653406 C 0.7239703739892054 15.781912543906575 -0.2067805999202008 8.773348418405746 3.573477238434686 4.536138114619845 C 7.353735076789574 0.2989278108339448 14.422665649051243 0.42733747259976695 19.349347637531025 4.822712464346595 C 24.2760296260108 9.21808745609342 25.206780599920208 16.226651581594254 21.426522761565323 20.463861885380155 C 17.64626492321044 24.701072189166055 10.577334350948762 24.572662527400233 5.650652362468983 20.177287535653406 Z ', fill='url(#_lgradient_4change)', mask='url(#backwardUp)', vector-effect='non-scaling-stroke', stroke-width='3.914', stroke='url(#_lgradient_5change)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
								polygon(points='10.9794181596559,9.053722781456873,10.958836319311803,15.94627721854313,5,12.48217560340538', fill='rgb(0,0,0)')
								polygon(points='17.958836319311807,9.05372278145687,17.93825447896771,15.94627721854313,11.979418159655907,12.48217560340538', fill='rgb(0,0,0)')
					button#dsmPlay.myFloat_left
						// Generator: Gravit.io
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewbox='0 0 25 25', width='35', height='35')
							lineargradient#_lgradient_6(x1='50%', y1='99.99999999999999%', x2='49.999999999999986%', y2='-1.1102230246251565e-14%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,204,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							lineargradient#_lgradient_7(x1='50%', y1='0%', x2='49.999999999999986%', y2='100%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,221,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							path(d=' M 24.230958865526667 13.163468991026765 C 24.597129429692504 6.688977049291661 19.637947006557653 1.1352204606015306 13.163454609671325 0.7690419591496127 C 6.688962212784999 0.4028634576976966 1.1352116986391803 5.36203906723813 0.7690411344733388 11.836531008973234 C 0.4028705703074973 18.311022950708335 5.362052993442352 23.86477953939847 11.836545390328677 24.23095804085039 C 18.311037787215003 24.597136542302305 23.864788301360825 19.63796093276187 24.230958865526667 13.163468991026765 Z ', fill='url(#_lgradient_6)', vector-effect='non-scaling-stroke', stroke-width='1.0135710681821597', stroke='url(#_lgradient_7)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							lineargradient#_lgradient_8(x1='49.99999421259663%', y1='8.119594778422508%', x2='49.99999421259666%', y2='108.11959477842248%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
							mask#_mask_KJKe0mFRfxotxoz1jjATkDorByLGL4DM
								path(d=' M 23.244883203821324 12.500011603087817 C 23.244882384325415 6.569750000172929 18.43026094351209 1.755124695653132 12.499998515177376 1.7551182917346857 C 6.569736086842665 1.7551118878162413 1.7551159766827702 6.569726793997296 1.7551167961786778 12.499988396912181 C 1.7551176156745854 18.43024999982707 6.569739056487916 23.24487530434687 12.500001484822626 23.244881708265314 C 18.430263913157336 23.24488811218376 23.244884023317233 18.430273206002703 23.244883203821324 12.500011603087817 Z ', fill='white', stroke='none')
							radialgradient#_rgradient_0(fx='50%', fy='50%', cx='50%', cy='50%', r='50%', gradienttransform='matrix(1.2854955908516683 -0.0116320577252745 1.7844493765094283e-7 1.291312494331974 -0.14274788464830265 -0.13984021830334914)')
								stop(offset='7.82608695652174%', style='stop-color:rgb(7,238,238)')
								stop(offset='68.26086956521739%', style='stop-color:rgb(0,127,129)')
								stop(offset='100%', style='stop-color:rgb(0,0,0)')
							path(d=' M 23.244883203821324 12.500011603087817 C 23.244882384325415 6.569750000172929 18.43026094351209 1.755124695653132 12.499998515177376 1.7551182917346857 C 6.569736086842665 1.7551118878162413 1.7551159766827702 6.569726793997296 1.7551167961786778 12.499988396912181 C 1.7551176156745854 18.43024999982707 6.569739056487916 23.24487530434687 12.500001484822626 23.244881708265314 C 18.430263913157336 23.24488811218376 23.244884023317233 18.430273206002703 23.244883203821324 12.500011603087817 Z ', fill='url(#_lgradient_8)', mask='url(#_mask_KJKe0mFRfxotxoz1jjATkDorByLGL4DM)', vector-effect='non-scaling-stroke', stroke-width='4.054284272728639', stroke='url(#_rgradient_0)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							polygon(points='10.064104258682574,18.399832932395693,18.023077533125726,12.7711142245059,10.023077533125727,7.228551640285492', fill='rgb(0,255,255)')
							g#dsmPlayup
								lineargradient#_lgradient_9(x1='50%', y1='0%', x2='49.999999999999964%', y2='99.99999999999996%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
								mask#_mask_KWizp7FslS7ooc31gSqVdncTpuShqH05
									path(d=' M 23.744645213301332 12.50001220430311 C 23.7446443896524 6.293924480322415 18.706087095444737 1.2553630875535688 12.499998507652629 1.255356351815374 C 6.293909919860521 1.255349616077181 1.2553539630497443 6.293900071716202 1.255354786698673 12.499987795696896 C 1.2553556103476016 18.70607551967759 6.293912904555266 23.74463691244644 12.500001492347373 23.744643648184635 C 18.706090080139482 23.744650383922828 23.744646036950257 18.706099928283805 23.744645213301332 12.50001220430311 Z ', fill='white', stroke='none')
								lineargradient#_lgradient_10(x1='50%', y1='-9.71445146547012e-15%', x2='50.000000000000014%', y2='99.99999999999999%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								path(d=' M 23.744645213301332 12.50001220430311 C 23.7446443896524 6.293924480322415 18.706087095444737 1.2553630875535688 12.499998507652629 1.255356351815374 C 6.293909919860521 1.255349616077181 1.2553539630497443 6.293900071716202 1.255354786698673 12.499987795696896 C 1.2553556103476016 18.70607551967759 6.293912904555266 23.74463691244644 12.500001492347373 23.744643648184635 C 18.706090080139482 23.744650383922828 23.744646036950257 18.706099928283805 23.744645213301332 12.50001220430311 Z ', fill='url(#_lgradient_9)', mask='url(#_mask_KWizp7FslS7ooc31gSqVdncTpuShqH05)', vector-effect='non-scaling-stroke', stroke-width='3.967117160864974', stroke='url(#_lgradient_10)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
								polygon(points='9.546155066251451,19.09803801315259,18.499999999999996,12.76572946677657,9.5,6.530346559528608', fill='rgb(0,0,0)')
					button#dsmPause.myFloat_left
						// Generator: Gravit.io
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewbox='0 0 25 25', width='35', height='35')
							lineargradient#_lgradient_22(x1='50%', y1='99.99999999999999%', x2='49.999999999999986%', y2='-1.1102230246251565e-14%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,204,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							lineargradient#_lgradient_23(x1='50%', y1='0%', x2='49.999999999999986%', y2='100%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,221,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							path(d=' M 24.230958865526667 13.163468991026765 C 24.597129429692504 6.688977049291661 19.637947006557653 1.1352204606015306 13.163454609671325 0.7690419591496127 C 6.688962212784999 0.4028634576976966 1.1352116986391803 5.36203906723813 0.7690411344733388 11.836531008973234 C 0.4028705703074973 18.311022950708335 5.362052993442352 23.86477953939847 11.836545390328677 24.23095804085039 C 18.311037787215003 24.597136542302305 23.864788301360825 19.63796093276187 24.230958865526667 13.163468991026765 Z ', fill='url(#_lgradient_22)', vector-effect='non-scaling-stroke', stroke-width='1.0135710681821597', stroke='url(#_lgradient_23)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							lineargradient#_lgradient_24(x1='49.99999421259663%', y1='8.119594778422508%', x2='49.99999421259666%', y2='108.11959477842248%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
							mask#_mask_CvArAsOzNwjeSHB5Zv9zm7QCzwavkDs9
								path(d=' M 23.244883203821324 12.500011603087817 C 23.244882384325415 6.569750000172929 18.43026094351209 1.755124695653132 12.499998515177376 1.7551182917346857 C 6.569736086842665 1.7551118878162413 1.7551159766827702 6.569726793997296 1.7551167961786778 12.499988396912181 C 1.7551176156745854 18.43024999982707 6.569739056487916 23.24487530434687 12.500001484822626 23.244881708265314 C 18.430263913157336 23.24488811218376 23.244884023317233 18.430273206002703 23.244883203821324 12.500011603087817 Z ', fill='white', stroke='none')
							radialgradient#_rgradient_2(fx='50%', fy='50%', cx='50%', cy='50%', r='50%', gradienttransform='matrix(1.2854955908516683 -0.0116320577252745 1.7844493765094283e-7 1.291312494331974 -0.14274788464830265 -0.13984021830334914)')
								stop(offset='7.82608695652174%', style='stop-color:rgb(7,238,238)')
								stop(offset='68.26086956521739%', style='stop-color:rgb(0,127,129)')
								stop(offset='100%', style='stop-color:rgb(0,0,0)')
							path(d=' M 23.244883203821324 12.500011603087817 C 23.244882384325415 6.569750000172929 18.43026094351209 1.755124695653132 12.499998515177376 1.7551182917346857 C 6.569736086842665 1.7551118878162413 1.7551159766827702 6.569726793997296 1.7551167961786778 12.499988396912181 C 1.7551176156745854 18.43024999982707 6.569739056487916 23.24487530434687 12.500001484822626 23.244881708265314 C 18.430263913157336 23.24488811218376 23.244884023317233 18.430273206002703 23.244883203821324 12.500011603087817 Z ', fill='url(#_lgradient_24)', mask='url(#_mask_CvArAsOzNwjeSHB5Zv9zm7QCzwavkDs9)', vector-effect='non-scaling-stroke', stroke-width='4.054284272728639', stroke='url(#_rgradient_2)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							lineargradient#_lgradient_25(x1='50%', y1='0%', x2='49.999999999999964%', y2='99.99999999999996%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
							mask#_mask_3wJIzch2gi5CKsZwDAgDcwz35CTHW0fC
								rect(x='13.375', y='7.001634989039512', width='2.625', height='10.996730021920982', transform='matrix(1,0,0,1,0,0)', fill='white', stroke='none')
							rect(x='13.375', y='7.001634989039512', width='2.625', height='10.996730021920982', transform='matrix(1,0,0,1,0,0)', fill='url(#_lgradient_25)', mask='url(#_mask_3wJIzch2gi5CKsZwDAgDcwz35CTHW0fC)', vector-effect='non-scaling-stroke', stroke-width='3.471227515756852', stroke='rgb(0,255,255)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							lineargradient#_lgradient_26(x1='50%', y1='0%', x2='49.999999999999964%', y2='99.99999999999996%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
							mask#_mask_v2GLasZcnvRRDZ5zxkrtsAQwkWDAXlCe
								rect(x='9.000000000000004', y='7.001634989039512', width='2.625', height='10.996730021920982', transform='matrix(1,0,0,1,0,0)', fill='white', stroke='none')
							rect(x='9.000000000000004', y='7.001634989039512', width='2.625', height='10.996730021920982', transform='matrix(1,0,0,1,0,0)', fill='url(#_lgradient_26)', mask='url(#_mask_v2GLasZcnvRRDZ5zxkrtsAQwkWDAXlCe)', vector-effect='non-scaling-stroke', stroke-width='3.471227515756852', stroke='rgb(0,255,255)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							g#dsmPauseup
								lineargradient#_lgradient_27(x1='50%', y1='0%', x2='49.999999999999964%', y2='99.99999999999996%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
								mask#_mask_1kZKbHinwAC7kJkgfMF3w9Zl5nc9Fnmy
									path(d=' M 23.744645213301332 12.50001220430311 C 23.7446443896524 6.293924480322415 18.706087095444737 1.2553630875535688 12.499998507652629 1.255356351815374 C 6.293909919860521 1.255349616077181 1.2553539630497443 6.293900071716202 1.255354786698673 12.499987795696896 C 1.2553556103476016 18.70607551967759 6.293912904555266 23.74463691244644 12.500001492347373 23.744643648184635 C 18.706090080139482 23.744650383922828 23.744646036950257 18.706099928283805 23.744645213301332 12.50001220430311 Z ', fill='white', stroke='none')
								lineargradient#_lgradient_28(x1='50%', y1='-9.71445146547012e-15%', x2='50.000000000000014%', y2='99.99999999999999%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								path(d=' M 23.744645213301332 12.50001220430311 C 23.7446443896524 6.293924480322415 18.706087095444737 1.2553630875535688 12.499998507652629 1.255356351815374 C 6.293909919860521 1.255349616077181 1.2553539630497443 6.293900071716202 1.255354786698673 12.499987795696896 C 1.2553556103476016 18.70607551967759 6.293912904555266 23.74463691244644 12.500001492347373 23.744643648184635 C 18.706090080139482 23.744650383922828 23.744646036950257 18.706099928283805 23.744645213301332 12.50001220430311 Z ', fill='url(#_lgradient_27)', mask='url(#_mask_1kZKbHinwAC7kJkgfMF3w9Zl5nc9Fnmy)', vector-effect='non-scaling-stroke', stroke-width='3.967117160864974', stroke='url(#_lgradient_28)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
								mask#_mask_ZReaJy0JguSgVUUilhgtXhYZET8nV5XY
									rect(x='13.499999999999998', y='6.2161542731880095', width='3.0000000000000018', height='12.56769145362398', transform='matrix(1,0,0,1,0,0)', fill='white', stroke='none')
								lineargradient#_lgradient_29(x1='50%', y1='-9.71445146547012e-15%', x2='50.000000000000014%', y2='99.99999999999999%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								rect(x='13.499999999999998', y='6.2161542731880095', width='3.0000000000000018', height='12.56769145362398', transform='matrix(1,0,0,1,0,0)', fill='rgb(0,0,0)', mask='url(#_mask_ZReaJy0JguSgVUUilhgtXhYZET8nV5XY)', vector-effect='non-scaling-stroke', stroke-width='3.967117160864974', stroke='url(#_lgradient_29)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
								mask#_mask_3F6cGIga5zYPgAV3emyDrlGQC3hpEaJP
									rect(x='8.5', y='6.2161542731880095', width='3', height='12.56769145362398', transform='matrix(1,0,0,1,0,0)', fill='white', stroke='none')
								lineargradient#_lgradient_30(x1='50%', y1='-9.71445146547012e-15%', x2='50.000000000000014%', y2='99.99999999999999%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								rect(x='8.5', y='6.2161542731880095', width='3', height='12.56769145362398', transform='matrix(1,0,0,1,0,0)', fill='rgb(0,0,0)', mask='url(#_mask_3F6cGIga5zYPgAV3emyDrlGQC3hpEaJP)', vector-effect='non-scaling-stroke', stroke-width='3.967117160864974', stroke='url(#_lgradient_30)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
					button#dsmStop.myFloat_left
						// Generator: Gravit.io
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewbox='0 0 25 25', width='35', height='35')
							lineargradient#_lgradient_31(x1='50%', y1='99.99999999999999%', x2='49.999999999999986%', y2='-1.1102230246251565e-14%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,204,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							lineargradient#_lgradient_32(x1='50%', y1='0%', x2='49.999999999999986%', y2='100%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,221,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							path(d=' M 24.230958865526667 13.163468991026765 C 24.597129429692504 6.688977049291661 19.637947006557653 1.1352204606015306 13.163454609671325 0.7690419591496127 C 6.688962212784999 0.4028634576976966 1.1352116986391803 5.36203906723813 0.7690411344733388 11.836531008973234 C 0.4028705703074973 18.311022950708335 5.362052993442352 23.86477953939847 11.836545390328677 24.23095804085039 C 18.311037787215003 24.597136542302305 23.864788301360825 19.63796093276187 24.230958865526667 13.163468991026765 Z ', fill='url(#_lgradient_31)', vector-effect='non-scaling-stroke', stroke-width='1.0135710681821597', stroke='url(#_lgradient_32)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							lineargradient#_lgradient_33(x1='49.99999421259663%', y1='8.119594778422508%', x2='49.99999421259666%', y2='108.11959477842248%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
							mask#_mask_p6jfBdXPz45Is1Bo8T044OOFGv6thJ10
								path(d=' M 23.244883203821324 12.500011603087817 C 23.244882384325415 6.569750000172929 18.43026094351209 1.755124695653132 12.499998515177376 1.7551182917346857 C 6.569736086842665 1.7551118878162413 1.7551159766827702 6.569726793997296 1.7551167961786778 12.499988396912181 C 1.7551176156745854 18.43024999982707 6.569739056487916 23.24487530434687 12.500001484822626 23.244881708265314 C 18.430263913157336 23.24488811218376 23.244884023317233 18.430273206002703 23.244883203821324 12.500011603087817 Z ', fill='white', stroke='none')
							radialgradient#_rgradient_3(fx='50%', fy='50%', cx='50%', cy='50%', r='50%', gradienttransform='matrix(1.2854955908516683 -0.0116320577252745 1.7844493765094283e-7 1.291312494331974 -0.14274788464830265 -0.13984021830334914)')
								stop(offset='7.82608695652174%', style='stop-color:rgb(7,238,238)')
								stop(offset='68.26086956521739%', style='stop-color:rgb(0,127,129)')
								stop(offset='100%', style='stop-color:rgb(0,0,0)')
							path(d=' M 23.244883203821324 12.500011603087817 C 23.244882384325415 6.569750000172929 18.43026094351209 1.755124695653132 12.499998515177376 1.7551182917346857 C 6.569736086842665 1.7551118878162413 1.7551159766827702 6.569726793997296 1.7551167961786778 12.499988396912181 C 1.7551176156745854 18.43024999982707 6.569739056487916 23.24487530434687 12.500001484822626 23.244881708265314 C 18.430263913157336 23.24488811218376 23.244884023317233 18.430273206002703 23.244883203821324 12.500011603087817 Z ', fill='url(#_lgradient_33)', mask='url(#_mask_p6jfBdXPz45Is1Bo8T044OOFGv6thJ10)', vector-effect='non-scaling-stroke', stroke-width='4.054284272728639', stroke='url(#_rgradient_3)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							mask#_mask_6KGoGOaS9mZyoH9xxjl4ISazNIrZ2ZFi
								rect(x='8.000000000000002', y='8', width='8.999999999999998', height='9', transform='matrix(1,0,0,1,0,0)', fill='white', stroke='none')
							rect(x='8.000000000000002', y='8', width='8.999999999999998', height='9', transform='matrix(1,0,0,1,0,0)', fill='rgb(0,255,255)', mask='url(#_mask_6KGoGOaS9mZyoH9xxjl4ISazNIrZ2ZFi)', vector-effect='non-scaling-stroke', stroke-width='3.4045263495754683', stroke='rgb(0,255,255)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							g#dsmStopup
								lineargradient#_lgradient_34(x1='50%', y1='0%', x2='49.999999999999964%', y2='99.99999999999996%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
								mask#_mask_iL1Wt4jNk5QXd9PSyvabWzRIWq3n5dJp
									path(d=' M 23.744645213301332 12.50001220430311 C 23.7446443896524 6.293924480322415 18.706087095444737 1.2553630875535688 12.499998507652629 1.255356351815374 C 6.293909919860521 1.255349616077181 1.2553539630497443 6.293900071716202 1.255354786698673 12.499987795696896 C 1.2553556103476016 18.70607551967759 6.293912904555266 23.74463691244644 12.500001492347373 23.744643648184635 C 18.706090080139482 23.744650383922828 23.744646036950257 18.706099928283805 23.744645213301332 12.50001220430311 Z ', fill='white', stroke='none')
								lineargradient#_lgradient_35(x1='50%', y1='-9.71445146547012e-15%', x2='50.000000000000014%', y2='99.99999999999999%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								path(d=' M 23.744645213301332 12.50001220430311 C 23.7446443896524 6.293924480322415 18.706087095444737 1.2553630875535688 12.499998507652629 1.255356351815374 C 6.293909919860521 1.255349616077181 1.2553539630497443 6.293900071716202 1.255354786698673 12.499987795696896 C 1.2553556103476016 18.70607551967759 6.293912904555266 23.74463691244644 12.500001492347373 23.744643648184635 C 18.706090080139482 23.744650383922828 23.744646036950257 18.706099928283805 23.744645213301332 12.50001220430311 Z ', fill='url(#_lgradient_34)', mask='url(#_mask_iL1Wt4jNk5QXd9PSyvabWzRIWq3n5dJp)', vector-effect='non-scaling-stroke', stroke-width='3.967117160864974', stroke='url(#_lgradient_35)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
								mask#_mask_Dy6wlpIQx6S8nvcuJ6r1SmqwD241RLWM
									rect(x='7.500000000000002', y='7.500000000000004', width='9.999999999999998', height='10', transform='matrix(1,0,0,1,0,0)', fill='white', stroke='none')
								lineargradient#_lgradient_36(x1='50%', y1='-9.71445146547012e-15%', x2='50.000000000000014%', y2='99.99999999999999%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								rect(x='7.500000000000002', y='7.500000000000004', width='9.999999999999998', height='10', transform='matrix(1,0,0,1,0,0)', fill='rgb(0,0,0)', mask='url(#_mask_Dy6wlpIQx6S8nvcuJ6r1SmqwD241RLWM)', vector-effect='non-scaling-stroke', stroke-width='3.7828070550838544', stroke='url(#_lgradient_36)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
					button#dsmForward.myFloat_left
						// Generator: Gravit.io
						svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', viewbox='0 0 25 25', width='35', height='35')
							lineargradient#_lgradient_0(x1='50%', y1='99.99999999999999%', x2='49.999999999999986%', y2='-1.1102230246251565e-14%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,204,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							lineargradient#_lgradient_1(x1='50%', y1='0%', x2='49.999999999999986%', y2='100%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,221,255)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							path(d=' M 19.656990577918155 20.52211793946063 C 24.80495771842952 15.929321797828571 25.77751398264317 8.605963418982169 21.82746338469166 4.1784360359823935 C 17.877412786740148 -0.24909134701738012 10.490976562593213 -0.11491408109268875 5.343009422081847 4.477882060539368 C 0.19504228157048153 9.070678202171424 -0.7775139826431676 16.394036581017833 3.1725366153083403 20.821563964017606 C 7.122587213259849 25.24909134701738 14.509023437406789 25.11491408109269 19.656990577918155 20.52211793946063 Z ', fill='url(#_lgradient_0)', vector-effect='non-scaling-stroke', stroke-width='1', stroke='url(#_lgradient_1)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							lineargradient#_lgradient_2(x1='50%', y1='0%', x2='50.49998292890467%', y2='161.35711687600391%')
								stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
							mask#_mask_UgasmV5ZMKuUqAgaaUUI64tM6Mt2METJ
								path(d=' M 19.044932186974087 19.836074756291026 C 23.75265053152143 15.636049764177393 24.642034795479304 8.938977377587712 21.029788416606856 4.890087531747852 C 17.41754203773441 0.8411976859079928 10.662786157573258 0.9639002515953354 5.955067813025916 5.163925243708968 C 1.2473494684785749 9.3639502358226 0.35796520452069736 16.061022622412285 3.9702115833931426 20.109912468252144 C 7.582457962265588 24.158802314092007 14.337213842426742 24.03609974840466 19.044932186974087 19.836074756291026 Z ', fill='white', stroke='none')
							lineargradient#_lgradient_3(x1='50%', y1='0%', x2='49.35820422549387%', y2='83.46513370323214%')
								stop(offset='7.391304347826087%', stop-opacity='1', style='stop-color:rgb(7,238,238)')
								stop(offset='68.26086956521739%', stop-opacity='1', style='stop-color:rgb(0,127,129)')
								stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
							path(d=' M 19.044932186974087 19.836074756291026 C 23.75265053152143 15.636049764177393 24.642034795479304 8.938977377587712 21.029788416606856 4.890087531747852 C 17.41754203773441 0.8411976859079928 10.662786157573258 0.9639002515953354 5.955067813025916 5.163925243708968 C 1.2473494684785749 9.3639502358226 0.35796520452069736 16.061022622412285 3.9702115833931426 20.109912468252144 C 7.582457962265588 24.158802314092007 14.337213842426742 24.03609974840466 19.044932186974087 19.836074756291026 Z ', fill='url(#_lgradient_2)', mask='url(#_mask_UgasmV5ZMKuUqAgaaUUI64tM6Mt2METJ)', vector-effect='non-scaling-stroke', stroke-width='4', stroke='url(#_lgradient_3)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
							polygon(points='12.963004536222016,9.308716029471864,12.982063507108244,15.691283970528138,18.500000000000004,12.483494447042542', fill='rgb(0,255,255)')
							polygon(points='6.5,9.308716029471862,6.519058970886228,15.691283970528136,12.036995463777988,12.48349444704254', fill='rgb(0,255,255)')
							g#dsmForwardup
								lineargradient#_lgradient_4(x1='50%', y1='0%', x2='49.999999999999964%', y2='99.99999999999996%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
								mask#_mask_dh66g3rhvpPhkGq0Hiokwv8iLGvq9FE8
									path(d=' M 19.349347637531018 20.177287535653406 C 24.276029626010796 15.781912543906575 25.2067805999202 8.773348418405746 21.426522761565316 4.536138114619845 C 17.646264923210424 0.2989278108339448 10.577334350948757 0.42733747259976695 5.650652362468977 4.822712464346595 C 0.7239703739892001 9.21808745609342 -0.20678059992020614 16.226651581594254 3.5734772384346787 20.463861885380155 C 7.3537350767895635 24.701072189166055 14.422665649051238 24.572662527400233 19.349347637531018 20.177287535653406 Z ', fill='white', stroke='none')
								lineargradient#_lgradient_5(x1='50%', y1='0%', x2='49.999999999999986%', y2='100%')
									stop(offset='0%', stop-opacity='1', style='stop-color:rgb(0,255,255)')
									stop(offset='100%', stop-opacity='1', style='stop-color:rgb(0,0,0)')
								path(d=' M 19.349347637531018 20.177287535653406 C 24.276029626010796 15.781912543906575 25.2067805999202 8.773348418405746 21.426522761565316 4.536138114619845 C 17.646264923210424 0.2989278108339448 10.577334350948757 0.42733747259976695 5.650652362468977 4.822712464346595 C 0.7239703739892001 9.21808745609342 -0.20678059992020614 16.226651581594254 3.5734772384346787 20.463861885380155 C 7.3537350767895635 24.701072189166055 14.422665649051238 24.572662527400233 19.349347637531018 20.177287535653406 Z ', fill='url(#_lgradient_4)', mask='url(#_mask_dh66g3rhvpPhkGq0Hiokwv8iLGvq9FE8)', vector-effect='non-scaling-stroke', stroke-width='3.914', stroke='url(#_lgradient_5)', stroke-linejoin='miter', stroke-linecap='square', stroke-miterlimit='3')
								polygon(points='14.020581840344096,9.053722781456873,14.041163680688193,15.94627721854313,19.999999999999996,12.48217560340538', fill='rgb(0,0,0)')
								polygon(points='7.0411636806881965,9.05372278145687,7.061745521032293,15.94627721854313,13.020581840344096,12.48217560340538', fill='rgb(0,0,0)')
				#dsmControlPlus.col-sm-4
				#dsmSongArt.col-sm-4*/
	#video.container
		.container(style="max-width: 1140px;")
			h3
				span.borderEffect VIDEO BOX
			p
				span.borderEffect WATCH PROMO SPOTS
			.row
				.col-sm-4
					.iner-video
						h4
							span.borderEffect Simon O'Shine
						.embed-responsive.embed-responsive-16by9
							//iframe.embed-responsive-item(allowfullscreen='', style='max-height:320px', src='https://www.youtube.com/embed/pEEKowM6m2s')
						p
							span Simon O'Shine had his first contact with electronic music in 2002. His first amateur recordings were judged only by his friends. He wasn't set in one style of music but in every of his tracks you could hear more and more of brave sounds. Looking for a music style in which he could concentrate on .
						.logo.bottom-fix
							img.logo-img(alt="Brand" src="/images/logo.png")
							.logo-name
								| DSM
				.col-sm-4
					.iner-video
						h4
							span.borderEffect The Digital Blonde
						.embed-responsive.embed-responsive-16by9
							//iframe.embed-responsive-item(allowfullscreen='', style='max-height:320px', src='https://www.youtube.com/embed/si8fHRs6Vxw')
						p
							span The Digital Blonde is a very talented hard trance producer/remixer who also responds to the slightly more mundane name of Ricky Smith. After releasing a batch of singles on the Perfect World label around the turn of the century, he's now a favourite of superstar DJ John 00 Fleming and is currently often to be found on the J00F label.
						.logo.bottom-fix
							img.logo-img(alt="Brand" src="/images/logo.png")
							.logo-name
								| DSM
				.col-sm-4
					.iner-video
						h4
							span.borderEffect John 00 Fleming
						.embed-responsive.embed-responsive-16by9
							//iframe.embed-responsive-item(allowfullscreen='', style='max-height:320px', src='https://www.youtube.com/embed/03dGWdDOYuY')
						p
							span Fleming was originally involved in goa music, but changed over to harder trance music before shifting to psychedelic trance. He traces his influences back to early 1980s acts such as Jean michel Jarre, Tangerine dream, and current acts like Astral Projection, Airwave, Trifonic.
						.logo.bottom-fix
							img.logo-img(alt="Brand" src="/images/logo.png")
							.logo-name
								| DSM
	#photo.container
		h3
			span.borderEffect PHOTO SLIDER
		p
			span.borderEffect HI-DEF PICTURES
		.row
			.jumbotron
				.iner-photo(style="max-width: 970px;")
					#photo-slider.carousel.slide
						ol#photo-indicator.carousel-indicators.hi-def
							li#img7.active(data-target="#photo-slider" data-slide-to="0")
							li#img1(data-target="#photo-slider" data-slide-to="1")
							li#img2(data-target="#photo-slider" data-slide-to="2")
							li#img3(data-target="#photo-slider" data-slide-to="3")
							li#img4(data-target="#photo-slider" data-slide-to="4")
							li#img5(data-target="#photo-slider" data-slide-to="5")
							li#img6(data-target="#photo-slider" data-slide-to="6")
						.carousel-inner(role="listbox")
							.item.active
								img(src="/images/slide7.jpg")
							.item
								img(src="/images/slide1.jpg")
							.item
								img(src="/images/slide2.jpg")
							.item
								img(src="/images/slide3.jpg")
							.item
								img(src="/images/slide4.jpg")
							.item
								img(src="/images/slide5.jpg")
							.item
								img(src="/images/slide6.jpg")
						a.left.carousel-control(href='#photo-slider', role='button', data-slide='prev')
							span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
							span.sr-only Previous
						a.right.carousel-control(href='#photo-slider', role='button', data-slide='next')
							span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
							span.sr-only Next
	#about.container
		#line.container
		#contact.container(style="max-width: 340px;")

		#links.container(style="max-width: 340px;")
			a(href="https://github.com/master2202/DSMLink")
				svg#github(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', width='80', height='80')
					circle(vector-effect='non-scaling-stroke', cx='0', cy='0', r='1', fill='rgb(204,68,0)', transform='matrix(37.5,0,0,37.5,40,40)', stroke-width='0.031', stroke='rgba(0,0,0,0)')
					path(d=' M 40 19.51849609375 C 28.403710937499998 19.51849609375 19.0001171875 28.919804687499997 19.0001171875 40.5184375 C 19.0001171875 49.79669921875 25.01740234375 57.66853515625 33.361269531249995 60.445468749999996 C 34.410683593749994 60.639414062499995 34.79634765625 59.989374999999995 34.79634765625 59.43490234375 C 34.79634765625 58.93427734375 34.776894531249994 57.279999999999994 34.76775390625 55.525058593749996 C 28.925546874999995 56.795371093750006 27.692441406249994 53.047421875 27.692441406249994 53.047421875 C 26.737421874999992 50.6201171875 25.360703124999993 49.97412109375001 25.360703124999993 49.97412109375001 C 23.455292968749994 48.671171875000006 25.504609374999994 48.69806640625 25.504609374999994 48.69806640625 C 27.612929687499992 48.84630859375 28.72357421874999 50.86328125000001 28.72357421874999 50.86328125000001 C 30.596406249999994 54.0728125 33.636484374999995 53.14468750000001 34.834726562499995 52.60796875 C 35.023515624999995 51.250703125 35.567675781249996 50.324277343750005 36.16796874999999 49.799570312499995 C 31.50390624999999 49.26912109375 26.600136718749987 47.468417968749996 26.600136718749987 39.421503906249995 C 26.600136718749987 37.12896484375 27.420683593749985 35.25525390625 28.764179687499986 33.78501953125 C 28.546152343749984 33.25568359375 27.826914062499984 31.119941406249996 28.96791015624999 28.22716796875 C 28.96791015624999 28.22716796875 30.730878906249988 27.663261718749997 34.743730468749995 30.380078125 C 36.419160156249994 29.91490234375 38.21587890624999 29.681406250000002 39.99999999999999 29.6734375 C 41.784707031249994 29.68140625 43.582597656249995 29.91490234375 45.26083984374999 30.380078125 C 49.26912109374999 27.66326171875 51.03039062499999 28.22716796875 51.03039062499999 28.22716796875 C 52.173085937499984 31.119941406249996 51.45437499999999 33.25568359375 51.236406249999995 33.78501953125 C 52.58277343749999 35.25525390625 53.397578124999995 37.12896484375 53.397578124999995 39.421503906249995 C 53.397578124999995 47.487871093749995 48.484667968749996 49.262851562499996 43.80859374999999 49.78357421875 C 44.561640624999995 50.434726562499996 45.23224609374999 51.7130078125 45.23224609374999 53.672265625 C 45.23224609374999 56.481777343750004 45.208749999999995 58.74314453125 45.208749999999995 59.434902343750004 C 45.208749999999995 59.9939453125 45.587031249999995 60.6485546875 46.65185546874999 60.44259765625001 C 54.990624999999994 57.662792968750004 61.000468749999996 49.793828125000005 61.000468749999996 40.518437500000005 C 61.00046875 28.919804687499997 51.59798828125 19.51849609375 40 19.51849609375 Z ', fill-rule='evenodd', fill='rgb(0,0,0)', stroke-width='2.03125', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
			a(href="https://www.linkedin.com/in/master2202/")
				svg#linkedin(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', width='80', height='80')
					circle(vector-effect='non-scaling-stroke', cx='0', cy='0', r='1', fill='rgb(204,68,0)', transform='matrix(37.5,0,0,37.5,40,40)', stroke-width='2.03125', stroke='rgba(0,0,0,0)')
					path(d=' M 19.536249999999992 32.82056640625 L 28.24832031249999 32.82056640625 L 28.24832031249999 60.82421875000001 L 19.536249999999992 60.82421875000001 L 19.536249999999992 32.82056640625 Z  M 23.894746093749994 18.89998046875 C 26.678769531249994 18.89998046875 28.938730468749995 21.1612890625 28.938730468749995 23.9470703125 C 28.938730468749995 26.7334375 26.678769531249994 28.99451171875 23.894746093749994 28.99451171875 C 21.099531249999995 28.99451171875 18.845605468749994 26.7334375 18.845605468749994 23.9470703125 C 18.845605468749994 21.1612890625 21.099531249999995 18.89998046875 23.894746093749994 18.89998046875 Z ', fill-rule='evenodd', fill='rgb(0,0,0)', stroke-width='2.03125', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
					path(d=' M 33.70832031249999 32.82056640625 L 42.05078124999999 32.82056640625 L 42.05078124999999 36.648906249999996 L 42.17037109374999 36.648906249999996 C 43.330820312499995 34.4473046875 46.17068359374999 32.1255859375 50.40496093749999 32.1255859375 C 59.21693359375 32.1255859375 60.845429687499994 37.9240234375 60.845429687499994 45.46568359375 L 60.845429687499994 60.82421875000001 L 52.14332031249999 60.82421875000001 L 52.14332031249999 47.20580078125 C 52.14332031249999 43.95853515625 52.08724609375 39.780859375 47.620644531249994 39.780859375 C 43.09216796874999 39.780859375 42.400996093749995 43.319921875 42.400996093749995 46.9734765625 L 42.400996093749995 60.82421875000001 L 33.70832031249999 60.82421875000001 L 33.70832031249999 32.82056640625 Z ', fill='rgb(0,0,0)', stroke-width='2.03125', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
			a(href="https://www.facebook.com/DSMLink/")
				svg#facebook(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', style='isolation:isolate', width='80', height='80')
					circle(vector-effect='non-scaling-stroke', cx='0', cy='0', r='1', fill='rgb(204,68,0)', transform='matrix(37.5,0,0,37.5,40,40)', stroke-width='2.03125', stroke='rgba(0,0,0,0)')
					path(d=' M 58.244160156250004 19.4921875 L 21.756132812499995 19.4921875 C 20.505566406249997 19.4921875 19.492187499999996 20.505273437499998 19.492187499999996 21.7561328125 L 19.492187499999996 58.24416015625 C 19.492187499999996 59.494433593749996 20.505566406249997 60.5078125 21.756132812499995 60.5078125 L 41.39962890625 60.5078125 L 41.39962890625 44.6245703125 L 36.0546484375 44.6245703125 L 36.0546484375 38.434140625000005 L 41.39962890625 38.434140625000005 L 41.39962890625 33.86939453125 C 41.39962890625 28.571640625 44.63541015625 25.686894531249997 49.36181640625001 25.686894531249997 C 51.624882812500005 25.686894531249997 53.5704296875 25.85541015625 54.137441406250005 25.9309375 L 54.137441406250005 31.46728515625 L 50.86046875000001 31.468691406250002 C 48.289550781250014 31.468691406250002 47.792265625000006 32.690078125 47.792265625000006 34.4822265625 L 47.792265625000006 38.434140625 L 53.921757812500005 38.434140625 L 53.12353515625001 44.6245703125 L 47.792265625000006 44.6245703125 L 47.792265625000006 60.5078125 L 58.24416015625001 60.5078125 C 59.494433593749996 60.5078125 60.5078125 59.494433593749996 60.5078125 58.244160156250004 L 60.5078125 21.7561328125 C 60.5078125 20.505273437499998 59.494433593749996 19.4921875 58.244160156250004 19.4921875 Z ', fill='rgb(0,0,0)', stroke-width='2.03125', stroke='rgba(0,0,0,0)', stroke-linejoin='miter', stroke-linecap='butt')
		#corpName.container(style="max-width: 340px;")
			.logo
				img.logo-img(alt="Brand" src="/images/logo.png")
				.logo-name
					| DSM
			h4
				span DIGITAL SHOCK MELODY
			h4 2017
	script(src="/javascripts/main.js")
	//script(src="/javascripts/JSPlayer/JSPlayer.js")






